<h1>Welcome to Twilight Imperium Stats!</h1>
{{#collection SC.TemplateCollectionView contentBinding="TiBattles.diceStatsController"}}
  {{#view TiBattles.DieView}}
    <label>Probability {{title}}
      <input type="range" min="0.0" max="1.0" step="0.1" {{bindAttr value="probability"}}>
      <input type="number" {{bindAttr value="probability"}}>
    </label>
    <label>Number of Rolls {{title}}
      <input type="range" min="0" max="10" step="1" {{bindAttr value="numRolls"}}>
      <input type="number" {{bindAttr value="numRolls"}}>
    </label>
  {{/view}}
{{/collection}}
